

	<div class="stepwizard">
		<div class="stepwizard-row">
		  <div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle"></button>
			<p>Matricule : 23243423435</p>
		  </div>
		  <div class="stepwizard-step">
			<button type="button" class="btn btn-primary btn-circle"></button>
			<p>Nom : ikram </p>
		  </div>
		  <div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" ></button>
			<p>system informatique</p>
		  </div>
		  <div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" ></button>
			<p>Groupe : 5</p>
		  </div>
		  <div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" ></button>
			<p>Semestre : 5</p>
		  </div>
		</div>
	  </div>
	  


  <div class="container">
	<table>
		<thead>
			<tr>
				<th>Module</th>
				<th>TD</th>
				<th>TP</th>
				<th>Examen</th>
				<th>ratrapage</th>

				<th>coff</th>
				<th>moyen unit</th>

				<th>Taux</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>module 1</td>
				<td>12</td>
				<td>15</td>
				<td>09</td>
				<td>12</td>
				<td>0</td>
				<td>03</td>
				<td>14</td>
  </tr>


		</tbody>
	</table>
	 <button  class="bubbly-button">Recour</button>
</div>
<script src="css2/style2.js"></script>

