<div class="nav-header">
    <a href="/" class="brand-logo">
        <img class="logo-abbr" src="images/Logo-UHBC-GO-final.png" >  
        <img class="brand-title" src="images/profile/uhbc.png"  alt="UHBC">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>