<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>UHBC Student Dashboard</title>
  <link rel="icon" type="image/png" sizes="16x16" href="images/Logo-UHBC-GO-final.png">
  <link rel="stylesheet" href="css2/style2.css">
  <link rel="stylesheet" href="css2/style2.js">
</head>

<body>
  <%- body -%>
</body>

</html>