<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Edumin - Bootstrap Admin Dashboard </title>
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <link rel="stylesheet" href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Pick date -->
  <link rel="stylesheet" href="vendor/pickadate/themes/default.css">
  <link rel="stylesheet" href="vendor/pickadate/themes/default.date.css">

</head>

<body>

  <!--*******************
        Preloader start
    ********************-->
  <div id="preloader">
    <div class="sk-three-bounce">
      <div class="sk-child sk-bounce1"></div>
      <div class="sk-child sk-bounce2"></div>
      <div class="sk-child sk-bounce3"></div>
    </div>
  </div>
  <!--*******************
        Preloader end
    ********************-->

  <!--**********************************
        Main wrapper start
    ***********************************-->
  <div id="main-wrapper">

    <!--**********************************
            Nav header start
        ***********************************-->
    <%- include( 'partials/Header' ) %>
    <!--**********************************
            Nav header end
        ***********************************-->

    <!--**********************************
            Header start
        ***********************************-->
    <%- include( 'partials/HeaderNav' ) %>
    <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

    <!--**********************************
            Sidebar start
        ***********************************-->
    <%- include( 'partials/navBar' ) %>
    <!--**********************************
            Sidebar end
        ***********************************-->



    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
      <!-- row -->
      <div class="container-fluid">

        <div class="row page-titles mx-0">
          <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
              <h4>ajouter étudiants </h4>
            </div>
          </div>
          <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0);">étudiants</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0);">ajouter étudiants</a></li>
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-xxl-12 col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Informations de base</h5>
              </div>
              <div class="card-body">
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="Prénom">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Nom de famille</label>
                        <input type="text" class="form-control" name="Nom">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" name="Email">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Registration Date</label>
                        <input name="date" class="datepicker-default form-control" id="datepicker">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">numéro d'inscription</label>
                        <input type="text" class="form-control" name="numéro_dinscription">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Classer</label>
                        <select class="form-control" name="classe">
                          <option value="L2">L2</option>
                          <option value="L3">L3</option>
                          <option value="M1">M1</option>
                          <option value="M2">M2</option>
                          <option value="théorie des graphes">théorie des graphes</option>
                          <option value="Placement status">Placement status</option>
                          <option value="algorithmique et structure">algorithmique et structure</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Gener</label>
                        <select class="form-control" name="gener">
                          <option value="Gender">Gener</option>
                          <option value="Male">Homme</option>
                          <option value="Female">Femme</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Numéro de portable</label>
                        <input type="text" class="form-control" name="Numéro">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Nom des parents</label>
                        <input type="text" class="form-control" name="Nom_des_parents">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Numéro de portable des parents</label>
                        <input type="text" class="form-control" name="Numéro_parents">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Date de naissance</label>
                        <input name="naissence" class="datepicker-default form-control" id="datepicker1">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Groupe sanguin</label>
                        <input type="text" class="form-control" name="Groupe">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="form-group">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" rows="5" name="Address"></textarea>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <button type="submit" class="btn btn-primary">Soumettre</button>
                      <button type="Cancel" class="btn btn-light">Cencel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->


    <!--**********************************
            Footer start
        ***********************************-->

    <!--**********************************
            Footer end
        ***********************************-->

    <!--**********************************
           Support ticket button start
        ***********************************-->

    <!--**********************************
           Support ticket button end
        ***********************************-->


  </div>
  <!--**********************************
        Main wrapper end
    ***********************************-->

  <!--**********************************
        Scripts
    ***********************************-->
  <!-- Required vendors -->
  <script src="vendor/global/global.min.js"></script>
  <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="js/custom.min.js"></script>
  <script src="js/dlabnav-init.js"></script>

  <!-- Svganimation scripts -->
  <script src="vendor/svganimation/vivus.min.js"></script>
  <script src="vendor/svganimation/svg.animation.js"></script>
  <script src="js/styleSwitcher.js"></script>

  <!-- pickdate -->
  <script src="vendor/pickadate/picker.js"></script>
  <script src="vendor/pickadate/picker.time.js"></script>
  <script src="vendor/pickadate/picker.date.js"></script>

  <!-- Pickdate -->
  <script src="js/plugins-init/pickadate-init.js"></script>

</body>

</html>